@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */

.main-header {
  @apply py-8 px-[5%] mx-auto text-xl flex flex-wrap md:flex-nowrap justify-between items-center
}

.header {
  @apply flex items-baseline w-full md:w-2/3 justify-center md:justify-start
}

.brand {
  @apply text-amber-700 text-3xl font-semibold
}

.nav-texts {
  @apply flex items-baseline justify-between w-full md:w-1/3 max-w-[250px] mt-2
}

.icons {
  @apply ml-6 list-none flex gap-4
}

.account-icon {
  @apply flex items-center text-[#5e5e5e] hover:text-[#a6a6a6] dark:text-[#b7b7b7] dark:hover:text-[#e7e7e7]
}


/* form elements */

.account-creation-form {
  @apply p-4 border-2 bg-lightBackground dark:bg-darkBackground rounded-lg shadow-md flex flex-col gap-2 dark:border-zinc-500
}

.default-input {
  @apply block w-full rounded-md py-2 px-3 border-2 outline-zinc-400 mb-2  dark:bg-zinc-800 dark:border-zinc-500 dark:active:bg-zinc-500
}

/* buttons */

.create-acc-button {
  @apply rounded-md p-2 w-full border-2 border-zinc-300 bg-white  hover:border-white hover:bg-amber-700 hover:text-white transition-all ease-in-out dark:bg-zinc-700 dark:hover:bg-amber-700 dark:hover:text-white mt-4
}
